@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOVA Teste</h1>
    <hr />
    <p>Confira o sistema de armazenagem de documentos <a href="../Arquivo">feito por Ivan Lempek</a>.</p>
</div>
